{
    "apikey": "apikey",
    "secretkey": "secretkey",
    "porkbun_base_url": "baseurl",
    "discord_webhook_url": "https://webhookurl",
    "check_ip_providers": [
        "https://ipprovider"
    ],
    "domains": [
        {
            "domain": "example.com",
            "dns_entry_type": "A",
            "subdomain": "www"
        }
    ]
}
